body{
    background-color: #484e66;
}

section{
    background-color: #20272f;
    width: 20vw;
    height: 35vh;
    margin: 10px;
    margin-top: 10px;
}

#app {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 98vh;
    background-color: #484e66;
}

#container {
    display: flex;
    flex-direction: column;
}  

#top {
    display: flex;
    margin-top: 39px;
}

#large {
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    width: 127vh;
    height: 51vh;
    background-color: #20272f;
}

#large div {
    margin-left: 50px;
    margin-bottom: 50px;
    background-color: blueviolet;
    width: 57vw;
    height: 40vh;
}

aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20vw;
    height: 88vh;
    background-color: #2a323d;
    margin-top: 50px;
    margin-left: 10px;
}

nav {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10;
    color: #585e6e;
}

li{
    margin-top: 75px;
}

li:first-child {
    margin-top:0;
}

h1 {
    margin-left: 50px;
    font-size: 40px;
    color: #ebf2f7;
}

h5 {
    margin-left: 25px;
    color: #6a6d7c;
}

h3 {
    margin-left: 100px;
    color: #d6d8dd;
}

h4 {
    display: flex;
    align-items: flex-end;
    float: left;    
    color: #6e7681;
    height: 120px;
    padding-left: 20px;
    padding-right: 20px;
}

h4 ~ h4 {
    float: right;
}